{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

  <h1>Blog</h1>

  <ul>
    <li><a href="/" title="">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/artikel/">Artikel</a></li>
    <li>
      <a href="https://www.djangoproject.com/" title="">Official Django</a>
    </li>
  </ul>
  {% block content-1 %} {% for v in post %}
  <div class="bg-grey" style="height: 200px">
    <h1>{{v.title}}</h1>
    <p>{{v.body}}</p>
  </div>
  {% endfor %} {% endblock content-1 %}
</body>

</html>